* {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px;
    align-content: center;
}
h1 {
    position: relative;
    text-align: center;
    color: black;
}
p{
    position: relative;
    text-align: center;
    color: black;
}
img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 200px;
    border-radius: 50px;
}
.box {
    border-radius: 50px;
    background-color: #f4f4f4;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 10px 10px;
    width: auto;
}
form{
    margin-left: 200px;
}